Repository HonkingGoose/proton_codecs_media_support_tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: gstreamer, media_foundation, media_foundation_quartz, quartz, wmvcore, xna

.github/labeler.yml:

# This file controls what labels the workflows/label.yml GitHub Action uses.

gstreamer:
  - tables/gstreamer.md

media_foundation:
  - tables/media_foundation.md

media_foundation_quartz:
  - tables/mfplat_plus_quartz.md

quartz:
  - tables/quartz.md

wmvcore:
  - tables/wmvcore.md

xna:
  - tables/xna.md

Add tested with Proton 5.13-1
  tables/quartz.md
Labels: quartz

Add tested with Proton 5.13-1
  tables/quartz.md
Labels: quartz

Add Labeler badge to README
  README.md
Labels: none

Ask for link to upstream Proton issue
  .github/pull_request_template.md
Labels: none

Update README
  README.md
Labels: none

Specify supported Node version
  package.json
Labels: none

Use better name for the linting fix command
  package.json
Labels: none

Use current lint-fix command
  .github/pull_request_template.md
Labels: none

Use current lint-fix command
  .github/pull_request_template.md
Labels: none

Add GitHub links to issue numbers
  tables/gstreamer.md
  tables/media_foundation.md
  tables/mfplat_plus_quartz.md
  tables/quartz.md
  tables/wmvcore.md
  tables/xna.md
Labels: gstreamer, media_foundation, media_foundation_quartz, quartz, wmvcore, xna

Add GitHub links to issue numbers
  tables/gstreamer.md
  tables/media_foundation.md
  tables/mfplat_plus_quartz.md
  tables/quartz.md
  tables/wmvcore.md
  tables/xna.md
Labels: gstreamer, media_foundation, media_foundation_quartz, quartz, wmvcore, xna

Update README.md
  README.md
Labels: none

Move sentence to more logical place in README
  README.md
Labels: none

Clarify this repo contains GFM tables
  README.md
Labels: none

Expand README with contribution steps and help
  README.md
Labels: none

Update actions/checkout action to v2.3.4
  .github/workflows/prettier.yml
Labels: none

Update actions/checkout action to v2.3.4
  .github/workflows/prettier.yml
Labels: none

Update actions/labeler action to v3
  .github/workflows/label.yml
Labels: none

Update actions/labeler action to v3
  .github/workflows/label.yml
Labels: none

Update dependency prettier to v2.2.0
  package-lock.json
  package.json
Labels: none

Update dependency prettier to v2.2.0
  package-lock.json
  package.json
Labels: none

Update dependency prettier to v2.2.1
  package-lock.json
  package.json
Labels: none

Update dependency prettier to v2.2.1
  package-lock.json
  package.json
Labels: none

Update prettier.yml
  .github/workflows/prettier.yml
Labels: none

ci: lint Prettier with Node 14
  .github/workflows/prettier.yml
Labels: none

build: bump supported Node version to 14.15.0
  package.json
Labels: none

chore(deps): update actions/setup-node action to v2.1.4
  .github/workflows/prettier.yml
Labels: none

build: bump supported node to 14.15.4
  package.json
Labels: none

chore: simplify pull request template
  .github/pull_request_template.md
Labels: none

chore: prevent contributors opening empty issues
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

build: specify supported npm version
  package.json
Labels: none

build: specify supported npm version (#25)
  package.json
Labels: none

build: try 6.x for npm range field
  package.json
Labels: none

chore(deps): update npm to v7
  package.json
Labels: none

Revert "build: try 6.x for npm range field"
  package.json
Labels: none

ci: lint -> prettier, lint-fix -> prettier-fix
  .github/workflows/prettier.yml
  README.md
  package.json
Labels: none

ci: change job name from build -> lint
  .github/workflows/prettier.yml
Labels: none

chore: turn on Renovate dashboard
  renovate.json
Labels: none

chore: redirect upstream Proton bug reports
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

chore(deps): update actions/setup-node action to v2.1.5
  .github/workflows/prettier.yml
Labels: none
